include ./src/components/header/header.pug
include ./src/components/carousel/carousel.pug
include ./src/components/plates/plates.pug
include ./src/components/footer/footer.pug
include ./src/components/pictures/pictures.pug
include ./src/components/pop-up/pop-up.pug

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='description' content='Верстка в рамках учебного задания Quality Of Execution')
    link(rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png")
    link(rel="manifest" href="favicon/site.webmanifest")
    link(rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title='Верстка в рамках учебного задания Quality Of Execution'
  body.wrapper
    +header
    main.main
      +carousel({content:[{text:'H1 text1'},{text:'H1 text2'},{text:'H1 text3'},{text:'H1 text4'}]})
      section.main__plates 
        h2.main__header.main__header_h2 H2 text
        +plates
      section.main__pictures 
        h2.main__header.main__header_h2 H2 text
        +pictures
        h3.main__header.main__header_h3 Text utp
        +pop-up()
    +footer  
