mixin plates 
  .plates
    .plates__up-row
      .plates__item.plates__item_1 
      .plates__item.plates__item_2
    .plates__down-row
      .plates__item.plates__item_3
      .plates__item.plates__item_4