.plates {
  height: 414px;
  width: 100%;
  background-color: #BEB9FF;
  display: flex;
  flex-direction: column;
  gap: 13px;
  &__up-row,&__down-row{
    display: flex;
    flex-direction: row;
    gap: 13px;
  }
  
  &__item {
    background-color: #3ADE4B;
    height: 198px;
  }

  &__item_1{
    flex: 0 1 392px;
  }
  &__item_1::before,
  &__item_2::before,
  &__item_3::before,
  &__item_4::before{
    counter-increment: plates;
    content: counter(plates);
    color: white;
    font-size: 3.78rem;
    font-weight: 400;
    line-height: 4.43rem;
    letter-spacing: 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__item_2{
    flex: 0 1 765px;
  }

  &__item_3{
    flex: 0 1 995px;
  }

  &__item_4{
    flex: 0 1 162px;
  }
}