.main {
	background-color: $background-color;
	flex-grow: 1;

  .carousel {
    margin-top: 40px;
  }

  &__pictures {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header{
    text-align: center;
  }

  &__header_h2{
    font-size: 2.14rem;
    font-weight: 600;
    line-height: 3.2rem;
    letter-spacing: 0em;
    margin: 40px 0;
  }

  &__header_h3{
    font-size: 2rem;
    font-weight: 500;
    line-height: 3.2rem;
    letter-spacing: 0em;
    margin-top: 40px;
    margin-bottom: 9px;
  }

}