.header{
  height: 148px;
  background-color: $header-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 55.63px;
  padding-left: 155.36px;
  position: relative;
  
  & .navbar .list-links {
    gap: 55px;
  }
  & .navbar .list-links_is-vertical {
    gap: 32px;
  }
  &_is-opened {
    padding-left: 0;
  }

}

@media (max-width:660px){
  .header {
    padding-left: 45px;
  }
}

@media (max-width:580px){
  .header .navbar{
    display: none;
  }
  .header_is-opened .navbar{
    display: flex;
  }
}