include ../pop-up/pop-up.pug
mixin carousel({ content = [],} = {})
  .carousel.js-carousel 
    div(role="button" class="carousel__arrow carousel__arrow_left js-arrow-left")
      .carousel__arrow-wrapper
    .carousel__content.js-carousel__content
      each elem, index in content
        .carousel__content-item-wrapper.js-carousel__content-item-wrapper
          h1.carousel__content-item=elem.text
          +pop-up({id:Date.now()+'carousel'+index})
    div(role="button" class="carousel__arrow carousel__arrow_right js-arrow-right")
      .carousel__arrow-wrapper
    