.footer {
  height: 100px;
  background-color: #D87FF6;
  display: flex;
  flex-direction: row;
  align-items: center;

    & .navbar .list-links {
      flex: 1 0 286px;
      margin-left: 204.5px;
      margin-right: 220.5px;
      gap: 175px;
    }

}

@media (max-width:1124px){
  .footer{
    justify-content: center;
  }
  .footer .navbar .list-links {
      gap: 35px;
    }
}

@media (max-width:720px){
  .footer{
    justify-content: center;
    height: auto;
  }

  .footer .navbar .list-links {
    gap: 35px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .footer .navbar {
    justify-content: center;
  }
}