include ../navbar/navbar.pug
mixin footer 
  footer.footer
    +navbar({links:[{text:'Text',href:'/mock-adress-change-me'},{text:'Text',href:'/mock-adress-change-me'},{text:'Text',href:'/mock-adress-change-me'},{text:'Text',href:'/mock-adress-change-me'}]})