mixin pictures 
  .pictures
    .pictures__item
      .pictures__content
    .pictures__item
      .pictures__content
    .pictures__item
      .pictures__content
    .pictures__item
      .pictures__content
    .pictures__item
      .pictures__content